body {
  margin: 0;
  text-align: center;
  font-family: tahoma;
  height: 100vh;
}

/* .container{
  background-color: antiquewhite;
  display: inline-block;
} */

#btn {
  background-color: slategray;
  display: inline-block;
}
s